<h1>Restaurant you selected</h1>

<div class="card">
  <div>
    <%= @restaurant.name %>
  </div>
  <div>
    <%= @restaurant.address %>
  </div>
  <div>
    <%= @restaurant.category%>
  </div>
</div>

<h2>Review</h2>

<% @restaurant.reviews.each do |review| %>
  <div class="card">
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
  </div>
<% end %>
<div>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant)%>
</div>
